@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lora);
* {
  margin: 0px;
  padding: 0px;
  outline-color: #b2fa6a !important;
}

#nav_header {
  background-color: #699265 !important;
}

.lien_ul .lien_li .lien {
  color: white;
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Courgette', cursive;
}

.lien_ul .lien_li .lien:hover {
  color: #c5ec9e;
}

.bienvenue {
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Courget';
  margin-top: 10px;
}

.active {
  color: white !important;
}

.btn-outline-success, .btn-outline-success:active, .btn-outline-success:visited {
  background-color: #f7f6f8 !important;
  border-color: #599b1c;
  color: #67ad25;
  border: 2px solid;
  border-radius: 50px;
  margin-top: 5px;
  font-size: 12px;
  font-family: 'Courgette', cursive;
}

.btn-outline-info, .btn-outline-info:active, .btn-outline-info:visited {
  background-color: #f7f6f8 !important;
  border-color: #b65f4a;
  color: #b65f4a;
  border: 2px solid;
  border-radius: 50px;
  margin-top: 5px;
  font-size: 12px;
  font-family: 'Courgette', cursive;
}

.btn-outline-success:hover {
  background-color: #599b1c !important;
  border-color: #f7f6f8;
  border: 2px solid;
  border-radius: 50px;
  font-size: 12px;
  font-family: 'Courgette', cursive;
}

.btn-outline-info:hover {
  background-color: #b65f4a !important;
  border-color: #f7f6f8;
  border: 2px solid;
  border-radius: 50px;
  font-size: 12px;
  font-family: 'Courgette', cursive;
}

.cart {
  margin-top: -5px;
}

.cart .fa-shopping-bag {
  color: white;
}

.user {
  background-color: rgba(73, 45, 9, 0);
  border: none;
  outline: 0;
}

.user .fa-user-alt, .etiquette_compte {
  color: white;
}

.search {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(73, 45, 9, 0);
  margin-top: 5px;
  color: white;
}

.barre_recherche {
  text-align: center;
  background-color: #0d6e61;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.barre_recherche .form_search .searchInput {
  float: right;
  height: 30px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.liste_btn_nav li {
  list-style: none;
}

.contact_info .label_entete2 {
  text-align: center;
  color: #fafafa;
  text-shadow: 2px 2px 4px #c0c2c2;
  font-family: 'Cutive', serif;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.form_contact .label_entete {
  color: #02a5a5;
  text-shadow: 2px 2px 4px #c0c2c2;
  font-family: 'Cutive', serif;
  margin-left: 300px;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.center_form {
  margin-left: 150px;
}

.center_form .input,
.center_form .textarea {
  width: 500px;
}

.center_form .label_contact {
  text-align: left;
}

.form_contact .label_contact {
  color: #02a5a5;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
}

.captchaerror {
  font-family: 'Courgette', cursive;
  color: red;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
}

.captchavalid {
  font-family: 'Courgette', cursive;
  color: #2e5e18;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
}

#button_captcha {
  color: white;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  background-color: #02a5a5;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: none;
  outline: 0;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#button_captcha:hover {
  background-color: white;
  color: #02a5a5;
}

.contact_info {
  background-color: #02a5a5;
}

.contact_info .form_info_contact {
  text-align: center;
  color: white;
  font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.contact_info .form_info_contact .label_contact {
  text-align: center;
  color: white;
  font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  text-decoration: underline;
}

.contact_info .form_info_contact .text_contact {
  text-align: center;
  color: white;
  font-family: 'Cutive', serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 70px;
}

.contact_info .form_info_contact .info_i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 3px white;
  background-color: rgba(255, 255, 255, 0.418);
  margin-left: 80px;
}

.contact_info .form_info_contact .info_i .fas {
  margin-top: 17px;
}

.info_location_line iframe {
  border: solid 3px white;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 360.98px) {
  .contact_info .label_entete2 {
    font-size: 25px;
    margin-left: 20px;
  }
  .form_contact .label_entete {
    margin-left: 40px;
    font-size: 25px;
  }
  .center_form {
    margin-left: 0px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 300px;
  }
  .form_contact .label_contact {
    font-size: 15px;
  }
  .contact_info .form_info_contact {
    font-size: 10px;
    margin-top: 30px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 15px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 50px;
    height: 50px;
    margin-left: 130px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 8px;
  }
  .info_location_line iframe {
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 361px) and (max-width: 400.98px) {
  .contact_info .label_entete2 {
    font-size: 25px;
    margin-left: 20px;
  }
  .form_contact .label_entete {
    margin-left: 40px;
    font-size: 25px;
  }
  .center_form {
    margin-left: 20px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 320px;
  }
  .form_contact .label_contact {
    font-size: 15px;
  }
  .contact_info .form_info_contact {
    font-size: 10px;
    margin-top: 30px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 15px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 50px;
    height: 50px;
    margin-left: 130px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 8px;
  }
  .info_location_line iframe {
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 475.98px) {
  .contact_info .label_entete2 {
    font-size: 25px;
    margin-left: 30px;
  }
  .form_contact .label_entete {
    margin-left: 80px;
    font-size: 25px;
  }
  .center_form {
    margin-left: 0px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 350px;
  }
  .form_contact .label_contact {
    font-size: 15px;
  }
  .contact_info .form_info_contact {
    font-size: 10px;
    margin-top: 30px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 15px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 50px;
    height: 50px;
    margin-left: 150px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 8px;
  }
  .info_location_line iframe {
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 476px) and (max-width: 500.98px) {
  .contact_info .label_entete2 {
    font-size: 30px;
    margin-left: 80px;
  }
  .form_contact .label_entete {
    margin-left: 120px;
    font-size: 30px;
  }
  .center_form {
    margin-left: 20px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 350px;
  }
  .form_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact {
    font-size: 20px;
    margin-top: 30px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 100px;
    height: 100px;
    margin-left: 160px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 15px;
  }
  .info_location_line iframe {
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 550.98px) {
  .contact_info .label_entete2 {
    font-size: 30px;
    margin-left: 60px;
  }
  .form_contact .label_entete {
    margin-left: 100px;
    font-size: 30px;
  }
  .center_form {
    margin-left: 20px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 400px;
  }
  .form_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact {
    font-size: 20px;
    margin-top: 30px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 100px;
    height: 100px;
    margin-left: 180px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 15px;
  }
  .info_location_line iframe {
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 600.98px) {
  .contact_info .label_entete2 {
    font-size: 30px;
    margin-left: 80px;
  }
  .form_contact .label_entete {
    margin-left: 120px;
    font-size: 30px;
  }
  .center_form {
    margin-left: 20px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 450px;
  }
  .form_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact {
    font-size: 20px;
    margin-top: 30px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 100px;
    height: 100px;
    margin-left: 210px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 15px;
  }
  .info_location_line iframe {
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 650.98px) {
  .contact_info .label_entete2 {
    font-size: 30px;
    margin-left: 100px;
  }
  .form_contact .label_entete {
    margin-left: 150px;
    font-size: 30px;
  }
  .center_form {
    margin-left: 20px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 550px;
  }
  .form_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact {
    font-size: 20px;
    margin-top: 30px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 100px;
    height: 100px;
    margin-left: 210px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 15px;
  }
  .info_location_line iframe {
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 651px) and (max-width: 700.98px) {
  .contact_info .label_entete2 {
    font-size: 30px;
    margin-left: 120px;
  }
  .form_contact .label_entete {
    margin-left: 180px;
    font-size: 30px;
  }
  .center_form {
    margin-left: 20px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 590px;
  }
  .form_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact {
    font-size: 20px;
    margin-top: 30px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 100px;
    height: 100px;
    margin-left: 250px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 15px;
  }
  .info_location_line iframe {
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 750.98px) {
  .contact_info .label_entete2 {
    font-size: 30px;
    margin-left: 150px;
  }
  .form_contact .label_entete {
    margin-left: 200px;
    font-size: 30px;
  }
  .center_form {
    margin-left: 40px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 550px;
  }
  .form_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact {
    font-size: 20px;
    margin-top: 30px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 100px;
    height: 100px;
    margin-left: 260px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 15px;
  }
  .info_location_line iframe {
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 751px) and (max-width: 767.98px) {
  .contact_info .label_entete2 {
    font-size: 30px;
    margin-left: 150px;
  }
  .form_contact .label_entete {
    margin-left: 200px;
    font-size: 30px;
  }
  .center_form {
    margin-left: 40px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 580px;
  }
  .form_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact {
    font-size: 20px;
    margin-top: 30px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 100px;
    height: 100px;
    margin-left: 290px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 15px;
  }
  .info_location_line iframe {
    border: solid 3px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .contact_info .label_entete2 {
    font-size: 45px;
    margin-left: 120px;
  }
  .center_form {
    margin-left: 40px;
  }
  .form_contact .label_entete {
    margin-left: 250px;
    font-size: 45px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 620px;
  }
  .contact_info .form_info_contact .info_i {
    width: 100px;
    height: 100px;
    margin-left: 80px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .contact_info .label_entete2 {
    font-size: 45px;
    margin-left: 100px;
  }
  .form_contact .label_entete {
    margin-left: 80px;
    font-size: 45px;
  }
  .center_form {
    margin-left: 40px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 400px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 18px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 90px;
    height: 90px;
    margin-left: 20px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 11px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .contact_info .label_entete2 {
    font-size: 45px;
    margin-left: 80px;
  }
  .form_contact .label_entete {
    margin-left: 120px;
    font-size: 45px;
  }
  .center_form {
    margin-left: 40px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 550px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 18px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 100px;
    height: 100px;
    margin-left: 40px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1780px) {
  .contact_info .label_entete2 {
    font-size: 45px;
    margin-left: 80px;
  }
  .form_contact .label_entete {
    margin-left: 180px;
    font-size: 45px;
  }
  .center_form {
    margin-left: 40px;
  }
  .center_form .input,
  .center_form .textarea {
    width: 600px;
  }
  .contact_info .form_info_contact .label_contact {
    font-size: 20px;
  }
  .contact_info .form_info_contact .text_contact {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact_info .form_info_contact .info_i {
    width: 100px;
    height: 100px;
    margin-left: 60px;
  }
  .contact_info .form_info_contact .info_i .fas {
    margin-top: 15px;
  }
}

.img1 {
  background-image: url(../photos/images_boutique/image_bandeau/groupement_achat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nouveaute h5 {
  padding-top: 50px;
  color: #633333;
  font-weight: bold;
  font-family: 'Emilys Candy', cursive;
  font-size: 25px;
  margin: 0px;
}

.corps_achat_index .card_achat_index {
  text-align: center;
  padding: 20px;
  width: 250px;
  background-color: white;
  font-size: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.card_achat_index img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 200px;
  border-radius: 20px;
}

.card_achat_index img:hover {
  opacity: .5;
}

.card_achat_index {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bandeau, .bandeau_horaires {
  background-color: #ecddd9;
}

.info {
  background-color: #ecddd9;
  margin: 0px;
}

.lead {
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #7c3d3d;
  font-size: 18px;
  background: transparent;
  font-weight: bold;
  font-family: 'Emilys Candy', cursive;
}

.titre {
  padding-top: 20px;
  text-align: center;
  color: #633333;
  font-weight: bold;
  font-family: 'Emilys Candy', cursive;
  font-size: 25px;
  margin: 0px;
}

.logo1, .logo2, .logo3 {
  text-align: center;
  color: #633333;
  font-family: 'Emilys Candy', cursive;
}

.voirCat {
  color: #b0db77;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  background-color: #17550a;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: none;
  outline: 0;
  margin-right: 10px;
}

.voirCat:hover {
  background-color: #b0db77;
  color: #15530d;
}

.voirCat a {
  text-decoration: none;
  color: #b0db77;
}

.voirCat a:hover {
  color: #15530d;
}

.voirCat {
  width: 200px;
  height: 35px;
  text-align: center;
}

.form-login {
  margin-top: 20px;
}

.identifiant p {
  color: red;
  font-weight: bold;
}

.scene {
  text-align: center;
  width: 300px;
  height: 500px;
  -webkit-perspective: 800px;
          perspective: 800px;
  margin: 20px auto;
}

.flip {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip,
.flip > div {
  width: inherit;
  height: inherit;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.flip > div {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.avant {
  background-image: url("../photos/images_retouche/jardin_fleuri5.jpg");
  background-size: cover;
  border-radius: 20px;
}

.arriere {
  background-image: url("../photos/images_retouche/jardin_2.jpg");
  background-size: cover;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-radius: 20px;
}

.scene:hover .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.arriere p,
.avant p {
  text-align: center;
  font-size: 20px;
  color: white;
  -webkit-perspective: 200px;
          perspective: 200px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.avant p,
.arriere p {
  margin-top: 200px;
}

.envoiPage {
  color: #b0db77;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  background-color: #17550a;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: none;
  outline: 0;
  margin-right: 10px;
  width: 180px;
  height: 35px;
  line-height: normal;
}

.envoiPage:hover {
  background-color: #b0db77;
  color: #15530d;
}

.envoiPage a {
  text-decoration: none;
  color: #b0db77;
}

.envoiPage a:hover {
  color: #15530d;
}

#carouselExampleCaptions {
  width: 100%;
  background-size: cover;
}

.nav-link:active {
  border-bottom: 0px;
  color: white;
}

#imgNav {
  height: 150px;
  position: absolute;
}

nav {
  text-align: center;
}

.icon {
  margin-top: 30px;
  color: white;
}

.fond2 {
  color: white;
}

.emplette {
  color: white;
}

.row_actualité {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 120px;
}

.row_actualité a {
  text-decoration: none;
  color: #69221f;
  font-family: 'Courgette', cursive;
  text-align: center;
}

.row_actualité a:hover {
  color: #d48989;
  font-size: x-large;
}

.corps_blog_index .card_blog_index {
  text-align: center;
  padding: 20px;
  width: 250px;
  background-color: white;
  font-size: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.card_blog_index img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 200px;
}

.card_blog_index img:hover {
  opacity: .5;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.lien_articles {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: 'Courgette', cursive;
  text-align: left;
}

.titre_ligne {
  margin-top: 50px;
  text-align: center;
  font-family: 'Courgette', cursive;
  color: #5c1f1b;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.corps_achat_catProduct .card_achat_catProduct {
  text-align: center;
  padding: 20px;
  width: 250px;
  background-color: white;
  font-size: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.card_achat_catProduct img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 200px;
  border-radius: 20px;
}

.card_achat_catProduct img:hover {
  opacity: .5;
}

.corps_achat_catProduct .card_achat_catProduct .card_catProduct_title {
  color: #7e4a07;
  font-family: 'Courgette', cursive;
  font-size: 20px;
}

.category_product_info {
  margin-left: 20px;
  color: #7e7d7d;
  font-family: 'Courgette', cursive;
  font-size: 20px;
}

.category_product_info .price_cat {
  margin-right: 25px;
}

.category_product_info input {
  height: 30px;
}

.btn-ajout-panier {
  text-align: center;
}

.category p {
  color: #7e7d7d;
  font-family: 'Arial', cursive;
  font-size: 15px;
  text-align: center;
  font-size: 10px;
}

.category a {
  text-align: center;
}

.envoiProduct, .btn-ajout-panier, .btnLogin, .eye_product {
  color: #b0db77;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  background-color: #17550a;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: none;
  outline: 0;
  margin-left: 50px;
}

.envoiProduct:hover, .btn-ajout-panier:hover, .btnLogin:hover, .eye_product:hover {
  background-color: #b0db77;
  color: #15530d;
}

.eye_product {
  text-decoration: none;
  color: #b0db77;
}

.eye_product:hover {
  color: #15530d;
}

.btn-ajout-panier a {
  text-decoration: none;
  color: #b0db77;
}

.btn-ajout-panier a:hover {
  color: #15530d;
}

.btnLogin a {
  text-decoration: none;
  color: #b0db77;
}

.btnLogin a:hover {
  color: #15530d;
}

.eye_product {
  width: 40px;
  height: 40px;
}

.eye_product .fa-eye {
  margin-top: 9px;
}

.btn-ajout-panier {
  width: 40px;
  height: 40px;
  text-align: center;
}

.btnLogin {
  width: 40px;
  height: 40px;
  text-align: center;
}

.card_cat_corps {
  margin: 20px;
  margin-left: 120px;
  width: 500px;
  height: 200px;
  background-color: white;
  font-size: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.card_cat_corps:hover {
  background-color: rgba(59, 35, 6, 0.151);
}

.ligne_product {
  background-color: #e4e1dc;
  padding-bottom: 20px;
}

.images {
  margin-top: 50px;
  margin-left: 200px;
}

.description {
  margin-top: 20px;
  padding: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  background-color: white;
}

.description .title_product {
  color: #7e4a07;
  margin-right: 30px;
  margin-left: 30px;
  font-family: 'Courgette', cursive;
  text-align: center;
}

.description .short_desc_product {
  color: #7e7d7d;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
}

.description .prix {
  color: #7e7d7d;
  font-family: 'Courgette', cursive;
  font-size: 25px;
}

.description p {
  color: #7e7d7d;
  font-family: 'Arial', cursive;
  font-size: 20px;
  text-align: left;
  font-size: 15px;
}

.description a {
  text-align: center;
}

.description .ajouter_panier {
  margin: 20px;
}

.description .label_quantity {
  color: #7e7d7d;
  font-family: 'Courgette', cursive;
  font-size: 20px;
  text-align: left;
  font-size: 15px;
}

.description .form-product {
  margin: 50px;
}

.vignette {
  margin-top: 10px;
  margin-left: 10px;
}

.btn-ajout-panier-product, #btnLoginProduct {
  color: #b0db77;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  background-color: #17550a;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: none;
  outline: 0;
  margin-right: 10px;
  margin-top: 20px;
}

.btn-ajout-panier-product:hover, #btnLoginProduct:hover {
  background-color: #b0db77;
  color: #15530d;
}

.btn-ajout-panier-product a {
  text-decoration: none;
  color: #b0db77;
}

.btn-ajout-panier-product a:hover {
  color: #15530d;
}

#btnLoginProduct a {
  text-decoration: none;
  color: #b0db77;
}

#btnLoginProduct a:hover {
  color: #15530d;
}

.btn-ajout-panier-product {
  width: 180px;
  height: 35px;
  text-align: center;
}

#btnLoginProduct {
  width: 180px;
  height: 35px;
  text-align: center;
}

.img-mini {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: none;
  outline: 0;
  margin-top: 30px;
}

.img-mini:hover {
  cursor: pointer;
}

.ligne_table .entete_tableau {
  color: #6d3f13;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
}

.ligne_table .entete_tableau th {
  border-spacing: 5px 10px;
  border-top: solid 1px #103605;
  border-bottom: solid 1px #103605;
}

.corps_tableau td {
  border-bottom: solid 1px #103605;
  color: #5a6653;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 16px;
  padding-top: 35px;
}

.corps_tableau th {
  border-bottom: solid 1px #1d6309;
}

.trash {
  background-color: rgba(73, 45, 9, 0);
  border: none;
}

.trash:hover {
  cursor: pointer;
}

.corps_tableau select {
  width: 80px;
}

.pied_tableau th {
  color: #69411b;
  font-family: 'Courgette', cursive;
  text-align: right;
  font-size: 20px;
}

.pied_tableau #valider {
  color: #fdfdfd;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 50px;
  background-color: #5f340d;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: none;
  outline: 0;
}

.pied_tableau #valider:hover {
  background-color: #b98e4d;
  color: #5f340d;
}

.pied_tableau input {
  color: #69411b;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  width: 120px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.table {
  margin: 50px;
  text-align: center;
}

.panier_vide {
  color: #5a6653;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}

.img_panier {
  width: 500px;
}

.label_collapse {
  color: #1c9426;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 15px;
}

.col_adresse, .col_email, .col_total {
  text-align: center;
}

.cart_entete {
  color: #15641c;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.col_email .input_email, .col_adresse .input_adresse, .col_total .input_total {
  border: 1px solid #64853a;
  width: 300px;
  height: 30px;
  text-align: center;
  color: #5f340d;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Courgette', cursive;
  outline: 0;
  -webkit-box-shadow: 0 0 10px rgba(150, 228, 134, 0.63);
          box-shadow: 0 0 10px rgba(150, 228, 134, 0.63);
}

.col_nom .input_nom, .col_prenom .input_prenom {
  border: 1px solid #64853a;
  width: 150px;
  height: 30px;
  text-align: center;
  font-family: 'Courgette', cursive;
  color: #5f340d;
  border-radius: 10px;
  font-size: 18px;
  -webkit-box-shadow: 0 0 10px rgba(150, 228, 134, 0.63);
          box-shadow: 0 0 10px rgba(150, 228, 134, 0.63);
  outline: 0;
}

.form_collapse #validerCommande {
  color: #fdfdfd;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 50px;
  background-color: #18500b;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: none;
  outline: 0;
}

.form_collapse #validerCommande:hover {
  background-color: #bfdb9f;
  color: #12420b;
}

.form_ligne_collapse, .container_collapse_panier {
  text-align: center;
}

#collapseCommande {
  border: none !important;
  margin-bottom: 30px;
}

.form1, .form2, .form3 {
  margin-top: 50px;
  border: solid 1px #0a4a13;
  -webkit-box-shadow: 0 0 10px rgba(4, 68, 10, 0.63);
          box-shadow: 0 0 10px rgba(4, 68, 10, 0.63);
  margin-left: 120px;
  border-radius: 20px;
}

.form2 .form-login input {
  outline-color: #17550a !important;
}

.label1, .label2 {
  color: #1c9426;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
}

.label1_entete, .label2_entete {
  margin-top: 20px;
  color: #15641c;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 30px;
}

.compte {
  margin: 0px;
}

.button_compte {
  color: #b0db77;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  background-color: #17550a;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: none;
  outline: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 250px;
  height: 35px;
  line-height: normal;
}

.button_compte:hover {
  background-color: #b0db77;
  color: #15530d;
}

.ligne_facture .entete_facture {
  color: #084e08;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
}

.ligne_facture h1 {
  margin-top: 50px;
  color: #084e08;
  font-family: 'Courgette', cursive;
  text-align: center;
}

.ligne_facture .entete_facture th {
  border-spacing: 5px 10px;
  border-top: solid 1px #103605;
  border-bottom: solid 1px #103605;
}

.corps_facture td {
  border-bottom: solid 1px #103605;
  color: #5a6653;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 16px;
  padding-top: 35px;
}

.corps_facture th {
  border-bottom: solid 1px #1d6309;
}

.corps_facture input {
  color: #5a6653;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  width: 120px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.eye {
  background-color: rgba(73, 45, 9, 0);
  color: #084e08;
  border: none;
}

.eye:hover {
  cursor: pointer;
  color: #338b33;
}

.corps_facture select {
  width: 80px;
}

.alerte-password-false, .alerte-password-securite {
  color: #a32a2a;
  font-weight: bold;
  font-style: italic;
}

.alerte-accound-pwd {
  color: #488027;
  font-weight: bold;
  font-style: italic;
}

.main {
  margin-left: 250px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
  margin-top: 50px;
}

.card_admin {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.bandeau_footer {
  background-color: #699265;
}

.bandeau_footer_col1 a, .bandeau_footer_col2 a {
  color: #fdfdfd;
  font-family: 'Emilys Candy', cursive;
}

.bandeau_footer_col1 a:hover, .bandeau_footer_col2 a:hover {
  color: #ecddd9;
}

.bandeau_footer_col1 h5, .bandeau_footer_col2 h5, .bandeau_footer_img h5 {
  color: #ecddd9;
  font-family: 'Emilys Candy', cursive;
}

.bandeau_footer_col1, .bandeau_footer_col2, .bandeau_footer_img {
  margin-top: 20px;
}

.adhesion {
  font-family: 'Courgette', cursive;
  text-align: center;
  color: #522f13;
}

.btn-register-transparent {
  color: #b0db77;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 20px;
  background-color: #17550a;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  border: none;
  outline: 0;
  width: 200px;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-register-transparent:hover {
  background-color: #b0db77;
  color: #15530d;
}

.search_description {
  color: #c55938;
  margin-left: 30px;
}

.alerte-password-false-modal, .alerte-password-securite-modal, .alerte-login-exist-modal, .alerte-login-false-modal {
  color: #a32a2a;
  font-weight: bold;
  font-style: italic;
}

.article {
  color: #eb7a10;
  margin-top: 20px;
  text-align: center;
  padding: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  background-color: white;
}

.ligne_article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article .contenu_article {
  font-family: 'Courgette', cursive;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article #h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Courgette', cursive;
}

.row_blog {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(192, 192, 192, 0.466);
}

body {
  font-size: 1em;
  font-family: 'Lora', serif;
}

section {
  width: 100%;
  padding: 5% 0px;
}

a, a:hover {
  text-decoration: none;
}

.item {
  margin: 0px auto;
}

/* ---- UI Style ----- */
.item {
  background-color: #fff;
  width: 350px;
}

.item .image {
  overflow: hidden;
}

.item .image img {
  width: 100%;
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  /* Firefox */
  /* IE 9 */
  /* Opera */
  transition: all 1s ease;
}

.image:hover img {
  opacity: 0.7;
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  /* Firefox */
  /* IE 9 */
  /* Opera */
  transform: scale(1.25);
}

.item .text {
  padding: 2em;
}

.item .text .author {
  position: absolute;
  top: -63px;
  left: -6px;
  z-index: 10;
}

.item .text .author img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: solid 6px rgba(255, 255, 255, 0.7);
  background-color: rgba(251, 255, 255, 0.466);
}

.item .text figcaption {
  position: relative;
  z-index: 1;
}

.item .text h3 {
  margin: 0px;
}

.item .text a {
  color: rgba(0, 0, 0, 0.7);
}

.item .text p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 22px;
  font-weight: 300;
  font-size: 13px;
}

.item .text i {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}

/* ---- Responsive Code ---- */
@media (max-width: 768px) {
  .item {
    width: 300px;
  }
}

/* ---- UI Style Ent ----- */
#nav_navbar {
  background-color: #23867e !important;
}

.lien_ul_navbar .lien_li_navbar .lien_navbar {
  color: white;
  font-size: 15px;
  font-family: 'Courgette', cursive;
}

.lien_ul_navbar .lien_li_navbar .lien_navbar:hover {
  color: #c5ec9e;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #064c5e;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #179483;
  color: #96e5e7;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #1f7985;
  color: #ebe9f0;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.cont_table_admin_page {
  width: 85%;
}

.update_category_page, .delete_category_page {
  background-color: rgba(73, 45, 9, 0);
  border: none;
}

.update_category_page:hover, .delete_category_page:hover {
  cursor: pointer;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border: none;
  height: 1500px;
}

.emplette_ligne {
  margin-bottom: 60px;
  text-align: center;
}

.emplette_ligne .achat_raisonne,
.emplette_ligne .vente_direct {
  border: 1px solid #88eeaa;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  background-size: cover;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 20px;
  width: 500px;
  height: 250px;
}

.emplette_ligne .achat_raisonne:hover,
.emplette_ligne .vente_direct:hover {
  opacity: .5;
}

.emplette_ligne .achat_raisonne h4,
.emplette_ligne .vente_direct h4 {
  font-family: 'Cutive', serif;
  margin-top: 100px;
  font-weight: bold;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.emplette_ligne .groupAchat_ligne .group_achat_lien h2 {
  font-family: 'Cutive', serif;
  margin-top: 200px;
  font-weight: bold;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.emplette_ligne .achatRaisonne_ligne a,
.emplette_ligne .venteDirect_ligne a,
.emplette_ligne .groupAchat_ligne a {
  text-decoration: none;
  color: #88eeaa;
}

.emplette_ligne .group_achat_lien {
  border: 1px solid;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  background-size: cover;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 20px;
  width: 1000px;
  height: 550px;
}

.emplette_ligne .group_achat_lien:hover {
  opacity: .5;
}

@media only screen and (max-width: 575.98px) {
  .emplette_ligne .group_achat_lien {
    width: 300px;
    height: 150px;
    margin-left: 30px;
  }
  .emplette_ligne .groupAchat_ligne .group_achat_lien h2 {
    font-family: 'Cutive', serif;
    margin-top: 50px;
  }
  .emplette_ligne .achat_raisonne,
  .emplette_ligne .vente_direct {
    width: 300px;
    height: 150px;
    margin-left: 30px;
  }
  .emplette_ligne .achat_raisonne h4,
  .emplette_ligne .vente_direct h4 {
    font-family: 'Cutive', serif;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .emplette_ligne .group_achat_lien {
    width: 500px;
    height: 250px;
    margin-left: 40px;
  }
  .emplette_ligne .groupAchat_ligne .group_achat_lien h2 {
    font-family: 'Cutive', serif;
    margin-top: 90px;
  }
  .emplette_ligne .achat_raisonne,
  .emplette_ligne .vente_direct {
    width: 500px;
    height: 250px;
    margin-left: 40px;
  }
  .emplette_ligne .achat_raisonne h4,
  .emplette_ligne .vente_direct h4 {
    font-family: 'Cutive', serif;
    margin-top: 120px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .emplette_ligne .group_achat_lien {
    width: 400px;
    height: 400px;
  }
  .emplette_ligne .groupAchat_ligne .group_achat_lien h2 {
    font-family: 'Cutive', serif;
    margin-top: 150px;
  }
  .emplette_ligne .achat_raisonne,
  .emplette_ligne .vente_direct {
    width: 250px;
    height: 180px;
  }
  .emplette_ligne .achat_raisonne h4,
  .emplette_ligne .vente_direct h4 {
    font-family: 'Cutive', serif;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .emplette_ligne .group_achat_lien {
    width: 500px;
    height: 350px;
  }
  .emplette_ligne .groupAchat_ligne .group_achat_lien h2 {
    font-family: 'Cutive', serif;
    margin-top: 150px;
  }
  .emplette_ligne .achat_raisonne,
  .emplette_ligne .vente_direct {
    width: 300px;
    height: 150px;
  }
  .emplette_ligne .achat_raisonne h4,
  .emplette_ligne .vente_direct h4 {
    font-family: 'Cutive', serif;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .emplette_ligne .group_achat_lien {
    width: 600px;
    height: 450px;
  }
  .emplette_ligne .groupAchat_ligne .group_achat_lien h2 {
    font-family: 'Cutive', serif;
    margin-top: 180px;
  }
  .emplette_ligne .achat_raisonne,
  .emplette_ligne .vente_direct {
    width: 350px;
    height: 200px;
  }
  .emplette_ligne .achat_raisonne h4,
  .emplette_ligne .vente_direct h4 {
    font-family: 'Cutive', serif;
    margin-top: 80px;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1780px) {
  .emplette_ligne .group_achat_lien {
    width: 750px;
    height: 550px;
  }
  .emplette_ligne .groupAchat_ligne .group_achat_lien h2 {
    font-family: 'Cutive', serif;
    margin-top: 200px;
  }
  .emplette_ligne .achat_raisonne,
  .emplette_ligne .vente_direct {
    width: 450px;
    height: 250px;
  }
  .emplette_ligne .achat_raisonne h4,
  .emplette_ligne .vente_direct h4 {
    font-family: 'Cutive', serif;
    margin-top: 100px;
  }
}

.achatRaiso_ligne {
  padding-bottom: 40px;
  text-align: center;
  background-color: #0b5061;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achatRaiso_ligne .col_img {
  margin-top: 40px;
  padding-left: 90px;
}

.achatRaiso_titre {
  background-color: #0b5061;
  padding: 50px 20px 20px 20px;
}

.achatRaiso_titre .container_achatRaiso_titre {
  color: #a2f7f3;
  text-shadow: #193613 1px 1px, #193613 -1px 1px, #193613 -1px -1px, #193613 1px -1px;
  text-align: center;
}

.achatRaiso_ligne2 {
  background-color: #0b5061;
  text-align: center;
  padding-top: 50px;
}

.achatRaiso_ligne .col_img .achatRaisonne_image {
  padding-top: 30px;
}

.achatRaiso_ligne .col_img .achatRaisonne_image img {
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  width: 800px;
}

.achatRaiso_ligne2 .group_achat_lien {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.achatRaiso_ligne2 .group_achat_lien .content_achatRaisonne {
  font-family: 'Cutive', serif;
  color: white;
  font-size: 25px;
}

@media only screen and (max-width: 575.98px) {
  .achatRaiso_ligne .col_img {
    margin-top: 40px;
    padding-left: 0px;
  }
  .chatRaiso_ligne2 {
    padding-top: 50px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image {
    padding-top: 10px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image img {
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    width: 350px;
  }
  .achatRaiso_ligne2 .group_achat_lien {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .achatRaiso_ligne2 .group_achat_lien .content_achatRaisonne {
    font-family: 'Cutive', serif;
    color: white;
    font-size: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .achatRaiso_ligne .col_img {
    margin-top: 40px;
    padding-left: 0px;
  }
  .chatRaiso_ligne2 {
    padding-top: 50px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image {
    padding-top: 10px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image img {
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    width: 500px;
  }
  .achatRaiso_ligne2 .group_achat_lien {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .achatRaiso_ligne2 .group_achat_lien .content_achatRaisonne {
    font-family: 'Cutive', serif;
    color: white;
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .achatRaiso_ligne .col_img {
    margin-top: 40px;
    padding-left: 30px;
  }
  .chatRaiso_ligne2 {
    padding-top: 50px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image {
    padding-top: 10px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image img {
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    width: 350px;
  }
  .achatRaiso_ligne2 .group_achat_lien {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .achatRaiso_ligne2 .group_achat_lien .content_achatRaisonne {
    font-family: 'Cutive', serif;
    color: white;
    font-size: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .achatRaiso_ligne .col_img {
    margin-top: 40px;
    padding-left: 40px;
  }
  .chatRaiso_ligne2 {
    padding-top: 50px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image {
    padding-top: 10px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image img {
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    width: 450px;
  }
  .achatRaiso_ligne2 .group_achat_lien {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .achatRaiso_ligne2 .group_achat_lien .content_achatRaisonne {
    font-family: 'Cutive', serif;
    color: white;
    font-size: 25px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .achatRaiso_ligne .col_img {
    margin-top: 40px;
    padding-left: 50px;
  }
  .chatRaiso_ligne2 {
    padding-top: 50px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image {
    padding-top: 10px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image img {
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    width: 500px;
  }
  .achatRaiso_ligne2 .group_achat_lien {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .achatRaiso_ligne2 .group_achat_lien .content_achatRaisonne {
    font-family: 'Cutive', serif;
    color: white;
    font-size: 25px;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1780px) {
  .achatRaiso_ligne .col_img {
    margin-top: 40px;
    padding-left: 60px;
  }
  .chatRaiso_ligne2 {
    padding-top: 50px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image {
    padding-top: 10px;
  }
  .achatRaiso_ligne .col_img .achatRaisonne_image img {
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    width: 600px;
  }
  .achatRaiso_ligne2 .group_achat_lien {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .achatRaiso_ligne2 .group_achat_lien .content_achatRaisonne {
    font-family: 'Cutive', serif;
    color: white;
    font-size: 25px;
  }
}

.admin_header {
  background-color: #064c5e !important;
}

#navbarNav {
  margin-left: 180px;
}

/* Dropdown Button */
.dropbtn {
  margin-left: 50px;
  background-color: #1a9797;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #085b70;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #1f7985;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #188f89;
}

.sensation_nature_ligne {
  margin-bottom: 50px;
  text-align: center;
}

.sensation_nature_ligne .les_cherubins_col,
.sensation_nature_ligne .ateliers_formations_col,
.sensation_nature_ligne .conference_sortie_col {
  border: 1px solid #eee788;
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 50px;
  background-size: cover;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 20px;
  width: 500px;
  height: 580px;
}

.sensation_nature_ligne .les_cherubins_col:hover,
.sensation_nature_ligne .ateliers_formations_col:hover,
.sensation_nature_ligne .conference_sortie_col:hover {
  opacity: .5;
}

.sensation_nature_ligne .conference_sortie_col {
  background-image: url(../photos/images_sensation_nature/Retouche_1.png);
  size: cover;
}

.sensation_nature_ligne .les_cherubins_col {
  background-image: url(../photos/images_sensation_nature/Retouche_2.png);
  size: cover;
}

.sensation_nature_ligne .ateliers_formations_col {
  background-image: url(../photos/images_sensation_nature/Retouche_3.png);
  size: cover;
}

.sensation_nature_ligne .les_cherubins_lien h1,
.sensation_nature_ligne .atelier_formation_lien h1,
.sensation_nature_ligne .conferences_sorties_lien h1 {
  font-family: 'Cutive', serif;
  margin-top: 450px;
  font-weight: bold;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.sensation_nature_ligne .les_cherubins_col a,
.sensation_nature_ligne .ateliers_formations_col a,
.sensation_nature_ligne .conference_sortie_col a {
  text-decoration: none;
  color: #eee788;
}

@media only screen and (max-width: 575.98px) {
  .sensation_nature_ligne .les_cherubins_col,
  .sensation_nature_ligne .ateliers_formations_col,
  .sensation_nature_ligne .conference_sortie_col {
    background-size: cover;
    width: 250px;
    height: 380px;
  }
  .sensation_nature_ligne .les_cherubins_lien h1,
  .sensation_nature_ligne .atelier_formation_lien h1,
  .sensation_nature_ligne .conferences_sorties_lien h1 {
    font-family: 'Cutive', serif;
    margin-top: 250px;
    font-size: 32px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .sensation_nature_ligne .les_cherubins_col,
  .sensation_nature_ligne .ateliers_formations_col,
  .sensation_nature_ligne .conference_sortie_col {
    background-size: cover;
    margin-left: 20px;
  }
  .sensation_nature_ligne .les_cherubins_lien h1,
  .sensation_nature_ligne .atelier_formation_lien h1,
  .sensation_nature_ligne .conferences_sorties_lien h1 {
    font-family: 'Cutive', serif;
    margin-top: 450px;
    font-size: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .sensation_nature_ligne .les_cherubins_col,
  .sensation_nature_ligne .ateliers_formations_col,
  .sensation_nature_ligne .conference_sortie_col {
    background-size: cover;
    margin-left: 100px;
  }
  .sensation_nature_ligne .les_cherubins_lien h1,
  .sensation_nature_ligne .atelier_formation_lien h1,
  .sensation_nature_ligne .conferences_sorties_lien h1 {
    font-family: 'Cutive', serif;
    margin-top: 450px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .sensation_nature_ligne .les_cherubins_col,
  .sensation_nature_ligne .ateliers_formations_col,
  .sensation_nature_ligne .conference_sortie_col {
    background-size: cover;
    width: 300px;
    height: 480px;
    margin-left: 20px;
    margin-bottom: 80px;
    margin-top: 60px;
  }
  .sensation_nature_ligne .les_cherubins_lien h1,
  .sensation_nature_ligne .atelier_formation_lien h1,
  .sensation_nature_ligne .conferences_sorties_lien h1 {
    font-family: 'Cutive', serif;
    margin-top: 400px;
    font-size: 28px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .sensation_nature_ligne .les_cherubins_col,
  .sensation_nature_ligne .ateliers_formations_col,
  .sensation_nature_ligne .conference_sortie_col {
    background-size: cover;
    width: 350px;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 60px;
    margin-top: 80px;
  }
  .sensation_nature_ligne .les_cherubins_lien h1,
  .sensation_nature_ligne .atelier_formation_lien h1,
  .sensation_nature_ligne .conferences_sorties_lien h1 {
    font-family: 'Cutive', serif;
    margin-top: 380px;
    font-size: 30px;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1780px) {
  .sensation_nature_ligne .les_cherubins_col,
  .sensation_nature_ligne .ateliers_formations_col,
  .sensation_nature_ligne .conference_sortie_col {
    background-size: cover;
    width: 420px;
    height: 600px;
    margin-left: 20px;
  }
  .sensation_nature_ligne .les_cherubins_lien h1,
  .sensation_nature_ligne .atelier_formation_lien h1,
  .sensation_nature_ligne .conferences_sorties_lien h1 {
    font-family: 'Cutive', serif;
    margin-top: 500px;
    font-size: 40px;
  }
}

.bandeau_index_entete {
  height: 500px;
  background-image: url(../photos/images_retouche/jardin_fleurs2.jpg);
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */